.user-bar {
  display: grid;
  grid-template-areas:
          "avatar content";
  gap: 0.4rem 2rem;
  align-items: center;
  padding: 3.5rem 0;
  background-color: var(--user-bar-bg);
  border-radius: var(--border-radius);

  &__avatar {
    border-radius: 50%;
    border: 0.3rem solid #d8d8d8;
    width: 6.4rem;
    height: 6.4rem;
    grid-area: avatar;
    justify-self: end;
  }

  &__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__title {
    font-family: var(--regular-font), sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--pale-blue);
  }

  &__name {
    font-family: var(--light-font), sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    color: #fff;
  }

  @media (min-width: 768px) {
    & {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-inline-start: 3.2rem;
      gap: 4rem;
    }

    &__content {
      word-wrap: break-word;
      max-inline-size: 30ch;
    }

    &__avatar {
      width: 7.8rem;
      height: 7.8rem;
    }

    &__name {
      font-family: var(--regular-font), sans-serif;
      font-weight: 400;
      font-size: 4rem;
    }
  }
}